/* Define CSS variables for colors */
:root {
  --primary-color: #DFF3E4;
  --secondary-color: #7180B9;
  --tertiary-color: #3423A6;
  --quaternary-color: #2E1760;
  --background-color: #171738;
}

/* Use the CSS variables in your styles */
body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  color: white;
}

.nav-tabs .nav-link.active {
  color: var(--primary-color);
  background-color: var(--background-color);
  border-color: var(--primary-color) var(--primary-color) var(--background-color);
}


.footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.card {
  display: flex;
}